body {
  font-family: "Playfair Display", serif;
  background-image: linear-gradient(black, white);
  min-height: 100vh;
}

button {
  font-family: "Playfair Display", serif;
}

.container {
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 2%;
  margin-top: 2%;
  box-shadow: 10px 10px 8px #888888;
}

.header-name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}
/* Hyperlink */
.hyperlink {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 1%;
}
.showMovie {
  display: none;
}
.rest-display {
  text-align: center;
}
/* Prompt question for restaurant */
#restaurant-question {
  text-align: center;
}

.restaurant-yes-no {
  text-align: center;
}
.row {
  text-align: center;
}
.display {
  display: flex;
  justify-content: center;
}
.movie-display {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
#promptcity {
  width: 30%;
}
#cuisine-prompt {
  text-align: center;
}
.cuisine-row {
  display: flex;
  justify-content: center;
}
.cuisine-button {
  margin-right: 2px;
}
.restaurant-random {
  margin-left: 2px;
}
.streaming-list,
.rental-list {
  text-decoration: underline;
  margin-top: 0;
}
.save-button1,
.save-button2 {
  text-align: center;
}
.clear-button {
  text-align: center;
}
.final-header {
  text-align: center;
  margin: 0 auto;
}

.saved-div {
  text-align: center;
  margin: 0 auto;
  width: 40vw;
}

.card-display {
  margin: 2% 2%;
}

.number {
  padding-bottom: 2%;
}
.restaurant-featuredimage{
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  
}
.restaurant-featuredimage[src=""] {
  display:none;
}

.card {
  box-shadow: 8px 8px 8px #888888;
}

.style-button {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}
