body {
  background-color: lightblue;
}

.container {
  background-color: white;
  margin: 0 auto;
  padding: 10px;
}

.restaurants {
  margin-top: 5%;
  margin-bottom: 3%;
}

.header {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 3%;
}

.header-name {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

#prompt1,
#prompt2 {
  margin-right: 10px;
  width: 60%;
}
.hideMovie{
  display:none
}
.random-button-1 {
  display: flex;
  justify-content: center; 
}

.rest-display {
  text-align: center;
}

#restaurant-question {
  text-align: center;
}

#prompt3 {
  margin-right: 10px;
  width: 50%;
}

.row {
  text-align: center;
}
